.background-roulete {
  background: url(/newimages/banner-roulete.png) no-repeat center;
  border-radius: 30px;
  padding: 43px 0;
}

.bg-main {
  border-radius: 30px;
  border-top: 2.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    161deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 101.7%
  );
  backdrop-filter: blur(17.915000915527344px);
}
.bg-main .p {
  color: #9ca3af;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.bg-main h2 {
  color: #fff;
  font-family: "AA Duke";
  font-size: 74px;
  font-weight: 400;
  line-height: normal;
  /* text-shadow: -2px -2px 0px #35d2e7, -4px -2px 0px rgba(250, 112, 136, 0.9); */
}
.bg-main h2 span {
  font-size: 60px;
  color: #ff8f1f;
}
.bg-main h5 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.bg-main h5 span {
  color: #ff8f1f;
}

@media(min-width: 320px) and (max-width: 767px) {

  .bg-main h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .bg-main .p {
    padding: 0 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
  }
  .mtt {
    margin-top: 0;
  }

  .background-roulete {
    background: url(/newimages/banner-roulete_small.png) no-repeat center;
    background-size: cover;
  }
}