/*** 

====================================================================
	Advantages
====================================================================

***/
.advantages-one {
    position: relative;
    display: block;
    padding: 60px 0 60px;
    z-index: 1;

}

.advantages-one .row:not(.advertizers .row) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.advertizers .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.advantages-one .item {
    flex: 1 0 auto;
    margin: 0px;
}

.advantages-one__carousel {
    position: relative;
    display: block;
}

.advantages-one__carousel.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.advantages-one__single {
    position: relative;
    display: block;
    background-color: var(--thm-main-bg);
    padding: 38px 30px 32px;
    border: 1px solid var(--thm-bdr-color);
    border-radius: 16px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.advantages-one__single:hover {
    border: 1px solid #ACDA49;
}

.advantages-one__icon {
    position: relative;
    display: block;
    text-align: center;
}

.advantages-one__icon img {
    height: 100px;
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}


.advantages-one__single:hover .advantages-one__icon img {
    transform: scale(0.9);
}

.advantages-one__title {
    color: var(--thm-white);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 19px;
    height: 40px;
}

.advantages-one__title a {
    color: var(--thm-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.advantages-one__title a:hover {
    color: var(--thm-base);
}

.advantages-one__text {
    font-size: 14px;
    color: #ADA7CD;
    line-height: 22px;
    margin-bottom: 46px;
}

.advantages-one__btn {
    position: relative;
    display: inline-block;
    color: #ADA7CD;
    font-size: 14px;
    font-weight: 500;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.advantages-one__btn i {
    position: relative;
    display: inline-block;
    font-size: 12px;
    padding-left: 20px;
    transform: rotate(-45deg);
    top: 6px;
}

.advantages-one__btn:hover {
    color: var(--thm-base);
}

.advantages-one .section-title h4 {
    color: var(--thm-white);
    font-size: 20px;
    margin: 15px;
}