.bg-mob-header {
    background-image: linear-gradient(76deg, #9d4eb3 7%, #6c37b1 35.92%, #310877 85.69%);
  position: relative;
  filter: drop-shadow(0 4px 30px #d180ee33);
  border-radius: 30px 30px 0 0 !important;
  border-top: 2px solid #fff6;
  border-bottom: 2px solid #fff6;
}
.bg-mob-header svg {
    color: #ff8f1f;
}
.round-logo {
    background: #ff8f1f;
    border: 3px solid #fff;
}


@media(min-width: 320px) and (max-width: 767px) {
    .round-logo {
        position: absolute;
        z-index: -1;
        background-image: linear-gradient(76deg, #9d4eb3 7%, #6c37b1 35.92%, #310877 85.69%);
    border: 2px solid #fff6;
    width: 10rem !important;
    height: 10rem !important;
    }
    .minilogos {
        position: relative;
    }
    .minilogos img {
        /* filter: drop-shadow(0px -6px 15px rgba(255, 255, 255, 1)); */
    }
    .minilogos:after {
        content: "";
        width: 102px;
        height: 2px;
        position: absolute;
        top: -6px;
        left: -17px;
        /* backdrop-filter: blur(20px); */

        background: linear-gradient(to right, rgb(122, 0, 172), rgb(122, 0, 172));
    }
}