/* [project]/components/Header_tailwind/styled.component.css [app-ssr] (css) */
header nav {
  background-image: linear-gradient(76deg, #9d4eb3 7%, #6c37b1 35.92%, #310877 85.69%);
  position: relative;
  filter: drop-shadow(0 4px 30px #d180ee33);
  border-radius: 30px;
  z-index: 9;
}

header nav button span {
  color: #f9fafb;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  transition: all .3s;
}

header nav button span:hover {
  color: #ffb636;
}

header nav button {
  padding: 0 10px;
}

.mobile-switcher {
  border-radius: 6px;
  background: #6532aa;
}

.mobile-switcher .p10 {
  padding: 10px !important;
}

.avatar-new {
  background: url("/newimages/avatar.png") center no-repeat;
  background-size: cover;
  padding: 0 !important;
}

.submenu-x {
  border-radius: 30px;
  border-top: 2.5px solid #fff6;
  border-bottom: 2.5px solid #fff6;
  background: #0f0926e4 !important;
}

.submenu-x a {
  color: #fff;
  transition: all .3s;
  background: none !important;
}

.submenu-x a:hover {
  color: #ff8f1f;
}

.lang-menu {
  border-radius: 30px;
  border-top: 2.5px solid #fff6;
  border-bottom: 2.5px solid #fff6;
  padding: 20px 10px;
  background: #0f0926e4 !important;
}

.lng-sw .language-switcher {
  margin-bottom: 0;
}

.language-switcher select {
  background: #6532aa !important;
  color: #fff !important;
}

.bg-purple {
  background: #6532aa;
}

.wrap-line-text {
  margin: auto;
  padding: 18px 0;
}

.marquee-container {
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: 60s linear infinite scroll;
}

.marquee span {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  color: #fff;
  padding-right: 100%;
}

.marquee b {
  color: #ff8f1f;
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translate3D(0);
  }

  100% {
    transform: translate3D(-100%);
  }
}

@media (width >= 320px) and (width <= 1259px) {
  .wrap-line-text {
    position: fixed;
    z-index: 4;
  }

  .marquee span {
    font-size: 14px;
  }

  .header {
    margin-top: 41px;
  }
}

.btn.target-top-new-releases {
  position: relative;
  overflow: hidden;
}

.btn.target-top-new-releases:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, #fff0 30%, #fffc, #fff0 70%);
  top: 0;
  left: -100px;
  animation: 2s linear infinite shine;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  20% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

.submenu-all {
  border-radius: 30px;
  border-top: 2.5px solid #ffffff4d;
  border-bottom: 2.5px solid #ffffff4d;
  background: #310877;
}

.bg-my {
  border-radius: 0 0 30px 30px;
  background: var(--123, linear-gradient(76deg, #9d4eb3 7%, #6c37b1 35.92%, #310877 85.69%));
  box-shadow: 0 4px 30px #d180ee33;
}

.group-menu-item a, .group-menu-item p {
  color: #fff;
}

.bg-orange {
  background: #ff8f1f;
  padding: 3px 7px;
  margin-bottom: 0;
}

@media (width >= 320px) and (width <= 767px) {
  .wrap-line-text {
    padding: 12px 0;
    background: #0f0926;
  }

  .mobmen {
    z-index: 999 !important;
    background: #0f0926f3 !important;
  }

  .menuItems {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
  }

  .menuItems a {
    padding: 5px;
    margin-top: 0 !important;
  }

  .bg-or {
    background: #ff8f1f;
  }

  .bg-bl {
    background: #310877;
  }

  .menuItems a {
    border: 1px solid #fff6;
    margin-right: 5px;
    margin-bottom: 5px !important;
  }

  .menuItems a:hover {
    background: #ff8f1f;
  }

  nav.isolate-tabs {
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.menu-icon-color {
  color: #fff;
}

.menu-icon-background-color {
  background-color: #ff8f1f;
}

.text-orange {
  color: #ff8f1f;
}

/*# sourceMappingURL=components_Header_tailwind_styled_component_31ffea.css.map*/