
.au {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    padding: auto;
    background: url("../img/country-list.png") no-repeat !important;
    background-position: 0px 0px !important;
  }
  
  .at {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -30px 0px !important;
  }
  
  .be {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -60px 0px !important;
  }
  
  .bg {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -90px 0px !important;
  }
  
  .ca {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -120px 0px !important;
  }
  
  .cz {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: 0px -16px !important;
  }
  
  .dk {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -30px -16px !important;
  }
  
  .fi {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -60px -16px !important;
  }
  
  .fr {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -90px -16px !important;
  }
  
  .de {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -120px -16px !important;
  }
  
  .gr {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: 0px -32px !important;
  }
  
  .hu {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -30px -32px !important;
  }
  
  .ie {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -60px -32px !important;
  }
  
  .it {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -90px -32px !important;
  }
  
  .nl {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -120px -32px !important;
  }
  
  .nz {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: 0px -48px !important;
  }
  
  .no {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -30px -48px !important;
  }
  
  .pl {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -60px -48px !important;
  }
  
  .pt {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -90px -48px !important;
  }
  
  .sk {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -120px -48px !important;
  }
  
  .es {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: 0px -64px !important;
  }
  
  .se {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -30px -64px !important;
  }
  
  .ch {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -60px -64px !important;
  }
  
  .tr {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -90px -64px !important;
  }
  
  .gb {
    width: 27px;
    height: 15px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/country-list.png") no-repeat !important;
    background-position: -120px -64px !important;
  }
  
  .all {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    float: left;
    content: "";
    background: url("../img/world.png") no-repeat !important;
  }