
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background:var(--header-background-color);
  box-shadow: var(--box-shadow);
  position: fixed;
  transition: all 0.5s ease-out 0s;
}

header .container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 0;
}

header .container .relative {
  margin-right: 15px;
}

header select {
  appearance: none;
  padding: 8px 30px 8px 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  width: 100%;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid hsla(0, 0%, 100%, 0.144);
  background-color: transparent;
  outline: none;
  text-align: center;
  width: auto;
  height: fit-content;
  background-image: url(./arrow-down.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.tickets a {
  color: #fff !important;
  text-decoration: none;
}

.tickets {
  position: relative;
  font-size: 18px;
  font-weight: 900;
  margin-left: auto;
  margin-right: 15px;
  color: #fff;
}

.tickets span {
  font-size: 16px;
  font-weight: 900;
  color: #ff9c19;
  position: absolute;
  top: -5px;
  right: -10px;
}

.logo {
  max-width: 175px;
  object-fit: contain;
  /* background: #084298; */
  padding: 3px;
  border-radius: 3px;
  /* height: 70px; */
}

.balanceWithdraw {
  width: 100%;
}

.tickets a, .option, .shop a {
  color: var(--header-font-color) !important;
}
.tickets span {
  color: var(--second-color) !important;
}

.parent {
  cursor: pointer;
}

.additional-options {
  position: absolute;
  top: 52px;
}

.mr-1 {
  margin-right: 5px;
}
.tickets a {
  display: flex;
  align-items: center;
}
.parent,
.additional-options {
  background: transparent;
  padding: 10px 15px 10px 25px;
  border: var(--border);
  box-shadow: 0px 0px 8px 0px rgba(236, 102, 35, 0.04);
  font-size: 18px;
  font-weight: 900;
  color: var(--header-font-color);
  border-radius: 12px !important;
  min-width: 162px !important;
  /* cursor: pointer; */
  z-index: 1;
}
.additional-options {
  background-color: var(--header-background-color);
}
.parent .option,
.parent .option a,
.additional-options .option,
.additional-options .option a {
  /* display: none; */
  color: var(--header-font-color);
  text-decoration: none;
  transition: 0.3s;
}
.additional-options .option {
  /* margin-bottom: 5px; */
  display: flex;
  justify-content: flex-start;
}
.parent .option a:hover,
.additional-options .option a:hover {
  color: bisque;
}

.arrow-down {
  max-width: 15px;
  margin-left: 5px;
}

header .container .relative {
  margin-right: 15px;
}

.ml-auto {
  margin-left: auto;
}

.items-center {
  align-items: center;
}

.list-menu {
  z-index: 1;
  background-color: var(--background-color);
  border: var(--border) !important;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.relative {
  position: relative;
  display: flex;
  align-items: center;
}