.double_banners .bordered-button {
  border: 2px solid white;
}

.uppercase {
  text-transform: uppercase;
}
.banner-big {
  max-width: 581px;
  border-radius: 30px;
  border-top: 2.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    161deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 101.7%
  );
  backdrop-filter: blur(17.915000915527344px);
}
.banner-big .absolute {
  display: flex;
  bottom: 133px;
}
.banner-big {
  position: relative;
}

.banner-big p.mt-10 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 0 22px 39px;
}
.double_banners .buttons {
  display: flex;
  flex-direction: row;
  border: 2px solid #ffffff4d;
  border-radius: 30px;
  overflow: hidden;
}
.double_banners button {
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}
.double_banners .not-active {
  background: transparent;
}
.double_banners .active {
  background: #ff8f1f;
}
